.card__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card__image {
  display: block;
  width: 100%;
  height: 413px;
  border-radius: 8px;
  object-fit: cover;
}

.card__title {
  color: #212121;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin: 12px 0 0;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fcf5e5;
  cursor: pointer;
  border: 0;
  opacity: 0.4;
  width: 23px;
  height: 20px;
  transition: opacity 0.5s;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 656px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 260px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
