.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
}

.modal__image-container {
  position: relative;
}

.modal__close-btn {
  background: url(../images/close-icon.svg) no-repeat center/contain;
  border: 0;
  padding: 0;
  opacity: 0.4;
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview {
  background: url(../images/close-icon-white.svg) no-repeat center/contain;
  opacity: 1;
  position: absolute;
  top: 0;
  right: -52.5px;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__image {
  border-radius: 8px;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  display: block;
}

.modal__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding-top: 4px;
}

.modal__caption {
  border-radius: 8px;
  background-color: #212121;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  margin-top: 8px;
  padding: 4px 8px;
}

.modal__form {
  width: 100%;
}

.modal__label {
  color: #212121;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  opacity: 0.7;
  gap: 8px;
  margin-top: 32px;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding: 16px 12px;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input:focus {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__input-error {
  display: block;
  color: #ff0000b2;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0%;
}

.modal__input_type_error {
  border: 1px solid #ff000099;
}

.modal__save-btn {
  background-color: #212121;
  border: 0;
  border-radius: 8px;
  color: #fcf5e5;
  cursor: pointer;
  margin-top: 32px;
  padding: 18px 32px;
  width: 156px;
  transition: opacity 0.4s ease-in;
}

.modal__save-btn:hover {
  opacity: 0.8;
}

.modal__save-btn_inactive {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .modal__container {
    max-width: 300px;
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .modal__label {
    margin-top: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__save-btn {
    margin-top: 24px;
    width: 100%;
  }

  .modal__caption {
    font-size: 16px;
    max-width: 270px;
    /* I added the max-width for the caption because when the caption is long the
     layout breaks(image is not centered, moves all the way to the left). You can check that with the 5th image
     that has long caption */
  }

  .modal__image {
    max-width: 90vw;
    max-height: 90vh;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
}
